<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">
        {{ draw.name }}
      </h1>

      <h5 *ngIf="!!draw.allowMultipleParticipations"># boletos: {{ draw.entriesQty }}</h5>

      <div class="article-meta">
        <div class="info">
          <span class="date" *ngIf="!!draw.executedOn;else notExecuted">
            <i class="fa fa-calendar-alt"></i> {{ draw.executedOn | date: 'longDate' }}
          </span>
          <ng-template #notExecuted>
            <span class="date">
              <i class="fa fa-calendar-alt"></i> {{ draw.programmedFor | date: 'longDate' }}
            </span>
          </ng-template>
        </div>

        <span *appShowAuthed="true">
          <button *ngIf="!draw.executedOn && draw.isCompleted" class="btn btn-sm btn-outline-light" (click)="closeDraw()">
            <i class="fa fa-check-double"></i> Cerrar sorteo
          </button>

          <!-- <button *ngIf="!draw.isCompleted" class="btn btn-sm btn-outline-light" [ngClass]="{ disabled: isDeleting }"
            (click)="deleteDraw()">
            <i class="fa fa-trash-alt"></i> Eliminar sorteo
          </button> -->
        </span>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <prizes-list [drawId]="draw.id" [drawInfo]="{ drawName: draw.name, prizesQty: draw.prizesQty, entriesQty: draw.entriesQty, isClosed: !!draw.executedOn}"
          (drawReload)="onDrawReload()"></prizes-list>
      </div>
    </div>
  </div>
</div>
