<div class="card" *appShowAuthed="false">
  <div class="card-header">
    Autenticarse <a [routerLink]="['/login']">aquí</a> para administrar premios en este sorteo.
  </div>

  <!-- <div class="card-header" *appShowAuthed="true">
    <a [routerLink]="['/login']">
      <i class="ion-compose"></i> Nuevo premio
    </a>
  </div> -->
</div>

<app-list-errors [errors]="errors"></app-list-errors>

<div *ngIf="prizes$ | async as prizes; else isLoading">
  <div *ngIf="prizes.length == 0; else hasPrizes">
    No existen premios asociados para este sorteo.
  </div>
  <ng-template #hasPrizes>
    <!-- <div class="card-group"> -->
    <prize-list-item *ngFor="let prize of prizes" [prize]="prize" [drawInfo]="drawInfo" (deletePrize)="onDeletePrize(prize)"
      (selectWinner)="onSelectWinner(prize)">
    </prize-list-item>
    <!-- </div> -->
  </ng-template>
</div>
<ng-template #isLoading>
  Cargando premios...
</ng-template>

<ng-template #content let-modal>
  <div class="modal-body">
    <!-- <div id="animation1" *ngIf="animationIndex == 0">
      <lottie-animation-view [options]="lottieConfig0" [width]="220" [height]="440" (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
      <h3>Iniciando sorteo ...</h3>
    </div> -->

    <div id="animation2" *ngIf="animationIndex == 1">
      <lottie-animation-view [options]="lottieConfig1" [width]="300" [height]="600" (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
      <h3>Iniciando sorteo ...</h3>
    </div>

    <div id="animation3" *ngIf="animationIndex == 2">
      <div class="card">
        <div class="card-header">
          Featured
        </div>

        <lottie-animation-view class="card-img-top" [options]="lottieConfig2" (animCreated)="handleAnimation($event)">
        </lottie-animation-view>

        <div class="card-body">
          <h5 class="card-title">Ganador(a):</h5>
          <p class="card-text">
            <strong>Nombre: </strong> {{ lastWinner.entrantName }}
          </p>
          <!-- <p class="card-text">
            <strong>Cédula: </strong> {{ lastWinner.entrantCode }}
          </p> -->
          <p class="card-text">
            <strong>Oficina: </strong> {{ lastWinner.entrantOffice }}
          </p>
          <p class="card-text">
            <strong>Ciudad: </strong> {{ lastWinner.entrantCity }}
          </p>
        </div>

        <div class="card-body">
          <button class="btn btn-sm btn-outline-success card-link" (click)="modal.close('Close click')">
            Aceptar
          </button>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<!-- <button (click)="showModal(content)">Show Modal</button> -->