<div class="card" *appShowAuthed="false">
  <div class="card-header">
    Autenticarse <a [routerLink]="['/login']">aquí</a> para administrar premios en este sorteo.
  </div>
</div>

<app-list-errors [errors]="errors"></app-list-errors>

<div *ngIf="prizes$ | async as prizes; else isLoading">
  <div *ngIf="prizes.length == 0; else hasPrizes">
    No existen premios asociados para este sorteo.
  </div>
  <ng-template #hasPrizes>
    <prize-list-item *ngFor="let prize of prizes" [prize]="prize" [drawInfo]="drawInfo" (deletePrize)="onDeletePrize(prize)"
      (selectWinner)="onSelectWinner(prize)">
    </prize-list-item>
  </ng-template>
</div>
<ng-template #isLoading>
  Cargando premios...
</ng-template>

<ng-template #contentAnim let-modal>
  <div class="modal-body">
    <div id="animation2" *ngIf="animationIndex == 1">
      <lottie-animation-view [options]="lottieConfig1" [width]="300" [height]="600" (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
      <h3>Iniciando sorteo ...</h3>
    </div>

    <div id="animation3" *ngIf="animationIndex == 2">
      <div class="card">
        <div class="card-header">
          <h5>
            {{ drawInfo.drawName }} - {{ sortingPrize.name }}
          </h5>
        </div>

        <lottie-animation-view class="card-img-top" [options]="lottieConfig2" (animCreated)="handleAnimation($event)">
        </lottie-animation-view>

        <div class="card-body">
          <h5 class="card-title">Ganador(a):</h5>
          <p class="card-text">
            <strong>Nombre: </strong> {{ lastWinner.entrantName }}
          </p>
          <p class="card-text">
            <strong>Unidad: </strong> {{ lastWinner.entrantUnit }}
          </p>
          <p class="card-text">
            <strong>Ciudad: </strong> {{ lastWinner.entrantCity }}
          </p>
          <p class="card-text">
            <strong>Empresa: </strong> {{ lastWinner.entrantOffice }}
          </p>
        </div>

        <div class="card-body">
          <button class="btn btn-sm btn-outline-success card-link" (click)="modal.close('Close click')">
            <i class="fa fa-check"></i> Aceptar
          </button>
        </div>
      </div>

    </div>
  </div>
</ng-template>