<nav class="navbar navbar-light">
  <!-- <div class="container-fluid"> -->
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/pbo_all_marks.png" style="width: 30rem" />
  </a>

  <!-- Show this for logged out users -->
  <ul class="nav justify-content-end" *appShowAuthed="false">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-home"></i> Inicio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">
        <i class="fa fa-sign-in-alt"></i> Autenticarse
      </a>
    </li>
  </ul>

  <!-- Show this for logged in users -->
  <ul  class="nav justify-content-end" *appShowAuthed="true">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-home"></i> Inicio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-sign-out-alt"></i> Salir
      </a>
    </li>
  </ul>
</nav>