/* FontAwesome for working BootSnippet :> */

/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

.frontside {
    position: relative;
    height: 100%;
}

.frontside.card .card-title,
.backside.card .card-title {
    color: rgb(118, 188, 33);
}

.frontside.card .card-subtitle i,
.frontside.card .card-subtitle,
.backside.card .card-subtitle i {
    color: rgb(118, 188, 33);
}

.frontside.card .card-body {
    display: flex;
    flex-direction: column;
}

.frontside.card .card-body .btn {
    margin-top: auto;
}

.frontside.card .card-body .fa-4x {
    color: rgb(0, 105, 55);
}