<div class="text-center" *ngIf="loading">
  Cargando sorteos...
</div>

<div class="text-center" *ngIf="!loading && draws.length == 0">
  No existen sorteos... aun.
</div>

<draw-list-item class="col-lg-4 col-md-4 col-sm-4 col-xs-12 my-3" *ngFor="let draw of draws" [draw]="draw">
</draw-list-item>

<!-- <nav *ngIf="!loading && totalPages.length > 1">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">
      <a class="page-link">{{ pageNumber }}</a>
    </li>
  </ul>
</nav> -->